<launch>
<node name="costmap" pkg="costmap_2d" type="costmap_2d_node" output="screen">
	<rosparam file="$(find costmap_2d)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
	<rosparam file="$(find costmap_2d)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find costmap_2d)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
	<rosparam file="$(find costmap_2d)/config/global_costmap_params.yaml" command="load"/>
</node>
</launch>