<?xml version="1.0"?>
<launch>
  <arg name="gp_debug" default="false"/>
  <arg name="ctrl_debug" default="false"/>
  <arg name="rcvr_debug" default="false"/>
  <arg name="respawn" default="false"/>
  <arg name="max_retrials" default= "50"/>
  <arg name="state_machine_timeout" default="10"/>
  <arg name="local_costmap_timeout" default="15"/>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="10 $(find costmap_2d)/launch/costmap.launch"
        name="costmap_launcher" output="screen"/>

  <include file="$(find global_planner)/launch/global_planner.launch">
    <arg name="debug" value="$(arg gp_debug)"/>
    <arg name="respawn" value="$(arg respawn)"/>
  </include>

  <include file="$(find controller_executive)/launch/controller_executive.launch">
    <arg name="debug" value="$(arg ctrl_debug)"/>
    <arg name="respawn" value="$(arg respawn)"/>
  </include>

  <include file="$(find recovery_executive)/launch/recovery_executive.launch">
    <arg name="debug" value="$(arg rcvr_debug)"/>
    <arg name="respawn" value="$(arg respawn)"/>
  </include>

  <node name="mission_executive" type="mission_executive_node" pkg="executive" output="screen">
    <rosparam command="load" file="$(find executive)/config/mission_executive_params.yaml"/>
  </node>

</launch>